Encryptor/src/main/resources/EncryptionResult.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="encryptionResults">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="Encryption">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="originalFileName"/>
                            <xs:element type="xs:string" name="outputFileName"/>
                            <xs:element type="xs:string" name="algorithmType"/>
                            <xs:element type="xs:float" name="operationLengthInMilliseconds"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Decryption">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="originalFileName"/>
                            <xs:element type="xs:string" name="outputFileName"/>
                            <xs:element type="xs:string" name="algorithmType"/>
                            <xs:element type="xs:float" name="operationLengthInMilliseconds"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>